# Node dependencies
node_modules/

# Compilation output
dist/

# Environment variables (SENSITIVE - NEVER COMMIT THIS!)
.env

# MacOS folders
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
